@charset "UTF-8";
.mypage_body #contents{
	margin: 100px auto 80px;
	width: 1200px;
	overflow: hidden;
}

.mypage_body #contents .right_contents{
	float: left;
	position: relative;
	min-height: 600px;
	width: 730px;
	margin-left: 160px;
	text-align: center;
}

#mypage_checkUser_body #contents .right_contents .layer{
	margin: 180px auto 0px;
	width: 500px;
	border: 1px #aaa solid;
	padding: 40px 0px;
}

#mypage_checkUser_body #contents .right_contents .layer .title{
	font-size: 30px;
}

#mypage_checkUser_body #contents .right_contents .layer p.description{
	color: #63666a;
	font-size: 18px;
	padding: 30px 0px;
	line-height: 150%;
}

#mypage_checkUser_body #contents .right_contents .layer .input{
	padding: 13px 10px;
	width: 400px;
	margin-bottom: 10px;
	border: 1px #666 solid;
}

#mypage_checkUser_body #contents .right_contents .layer .redBtn{
	background-color: #c80a1e;
	color: white;
	font-size: 16px;
	width: 240px;
	height: 50px;
	border: none;
}

#mypage_checkUser_body #contents .right_contents .layer .redBtn:hover{
	cursor: pointer;
	background-color: #a00e2c;
}