@charset "UTF-8";


.f_red{
	color:#c80a1e;
}
.f_gray1{
	color:#333333;
}
.f_gray2{
	color:#63666a;
}
.f_gray3{
	color:#909090;
}
.btn_205_41{width:205px; height:41px; font-size:14px}
.btn_100_41{width:100px; height:41px; font-size:14px}
.order_lnb{
	margin-top: 100px;
    width: 100%;
    background-color: #F0F0F0;
    text-align: center;
    line-height:50px;
    font-size: 16px;
}

.order_lnb hr{
	width:25px;
	border:solid 1px #aaaaaa;
	display:inline-block;
	margin:0px 21px;
	vertical-align:middle;
	
}
#contents{
	width:100%;
}

#delivery_info{
	margin:0px auto;
	width:900px;
}
#orderProduct_info, #delivery_reservation, #pay_info{
	margin:0px auto;
	width:1160px;
}
#title{
	width:100%;
  	margin: 70px 0px 22px 0px;
  	text-align:center;
  	font-size: 35.2px;
  	letter-spacing: -1.1px;
  	text-align: center;
  	color: #333333;
}
.title{
  	font-size: 28px;
  	font-weight: 300;
  	line-height: 1.43;
  	letter-spacing: -0.8px;
  	color: #333333;
  	text-align:center;
}

.title2{
  	font-size:15px;
  	font-weight: bold;
  	letter-spacing: -0.5px;
  	color: #333333;
  	margin-bottom:32px;
}
#subTitle{
  	width:100%;
    font-size: 22.1px;
    text-align:center;
    font-weight: 300;
    letter-spacing: -0.7px;
    color: #333333;
}
table.orderProduct_info{
	width:100%;
	margin:35px 0px 30px 0px;
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa !important;	
}
table.orderProduct_info thead{
	font-size:13px;
	text-align:center;
}
table.orderProduct_info tbody{
	color:#333333;
}
table.orderProduct_info thead tr th{
	padding:14px 0px;
	color:#aaaaaa;
	border-bottom:1px solid #f0f0f0;
}
.tr_mainProduct{
	border-top:1px solid #aaaaaa !important;	
}
table.orderProduct_info td{
	line-height:30px;
	padding:20px;
}


.thumbnail{
	width:200px;
	padding-top:20px;
	padding-bottom:13px;
	
}
.productInfo{
	padding-left:70px;
	
}
.productInfo_main td{
	padding-top:60px !important; 
}
.tr_option{
	border-top:1px solid #f0f0f0;
	vertical-align:top;
	padding-top: 20px;
    padding-bottom: 20px;
}
.color_main{
	margin-top:115px;
}
.colorChip{
	width:18px;
}
.price{  /*ë‹¨ê°€*/
	text-align:center;
	font-size:18px;
	color:#909090;

}
.price_main{
	vertical-align:bottom;
}
td.deliveryType{
	font-size:15px;
	font-weight:500;
	letter-spacing: -0.5px;
	padding-top: 60px;
    vertical-align: top;
}

.qty{  /*ìˆ˜ëŸ‰*/
	text-align:center;
	font-size:18px;
	
}
.qty_main{
	vertical-align:bottom;
}
.qty_option{
	vertical-align:top;
	border-top:1px solid #f0f0f0;
}

.groupPrice{  /*ìƒí’ˆê¸ˆì•¡*/
	text-align:center;
	font-size:18px;
	padding-top:60px;
	vertical-align:top;
	letter-spacing: -0.5px;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}
.totalPrice{
	display:inline-block;
	font-size:25px;
	font-weight: 500;
    letter-spacing: -0.7px;
}
.deliveryType{  /*ë°°ì†¡ìœ í˜•*/
	text-align:center;
	font-size:18px;
}

/*ë°°ì†¡ ì •ë³´*/
.delivery_info_L{
	float:left;
	padding-right:60px;
	width:420px;
}
.delivery_info_R{
	float:left;
	width:420px;
}
label{
	margin:19px 0px 11px 0px;
	
}
input[type=text], input[type=number],input[type=password], select {
   
    height:41px;  
    display: inline-block;
    border: solid 1px #aaaaaa;
    box-sizing: border-box;
}
input[type=text], input[type=number],input[type=password]{
	padding: 12px 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text].email{
	background: url(/img/front/account/@.png) no-repeat 3% 65%;
}
select{
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	background: url('/img/front/btn/down.png') no-repeat 95% 50%;
	display: inline-block;
	padding: 10px 0px 10px 20px;
	vertical-align: bottom;
}
/* IE ì—ì„œ Select box í™”ì‚´í‘œ ì œê±° */ 
select::-ms-expand {
	display: none;
}



.select_w110{
	width:110px;
	vertical-align: bottom;
}
.select_w136{
	width:136px;
	vertical-align: bottom;
}
.select_w150{
	width:150px;
	vertical-align: bottom;
}
.select_w400{
	width:400px;
	vertical-align: bottom;
}
.w137{
	width:137px;
}

.w305{
	width:305px;
}

#delivery_info label{
	font-size:14px;
	display:block;
}

#delivery_info input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;   
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*ë°°ì†¡ì˜ˆì•½ ì„œë¹„ìŠ¤*/
.discription {
	border:1px solid #aaaaaa;
	padding: 40px 30px 40px 40px;
	margin-top:35px;
}

.discription p{
	font-size:14px;
	line-height:25px;
	letter-spacing:-0.4px;
	color:#909090;
}
.discription_title{
	font-weight:bold;
	margin-bottom:10px;
}
#delivery_reservation label, #pay_info label{
	display:inline-block;
 	width: 125px;
    font-size: 15px;
    font-weight: bold;	
    margin-top:36px;
}
img.select_date{
	vertical-align:bottom;
}

#pay_info div.totalPrice{
	margin: 41px 0px 36px 0px;
}

.elevatorYn, .check_guestAgree { display:none; }



input[type=radio] + label,
input[type=checkbox] + label{
	width:70px !important;
}
input[type=radio] + label span,
input[type=checkbox] + label span { 

	display: inline-block;
    cursor: pointer;
    padding-left: 5px;
    background: url(/img/front/btn/check_w21_off.png) no-repeat;
    width: 21px;
    height: 21px;
    vertical-align: bottom;

}

input[type=radio]:checked + label span,
input[type=checkbox]:checked + label span { background-image: url('/img/front/btn/check_w21_on.png'); }

/*íŒì—… í…Œì´ë¸”(ë°°ì†¡ì§€)*/
table.addressPopup{
	line-height: 27px;
}
table.addressPopup thead tr{
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #f0f0f0;
	color:#aaaaaa;
	font-size:13px;
	
}

table.addressPopup tbody tr{

	border-bottom:1px solid #f0f0f0;
	color:#333333;
	font-size:15px;

	
}
.text_c{
	text-align:center;
}
.text_l{
	text-align:left;
}

table.addressPopup tbody td{

	padding: 23px 0px;
	vertical-align: top;
	
}
/* -ms-overflow-style: none; */

/*::-webkit-scrollbar {
display:none;
} */


.popup_beforeOrderAgree{
	padding:0px 20px 0px 40px;
}
div.beforeOrderContent{
	line-height: 25px;
}
.popup_subTitle{
	font-size:19px;
	color:#c80a1e;
	margin-bottom: 30px;
}
#addrLayer{
	left: 39%;
}
